html {
  font-family: sans-serif;
  --color-accent: darkgreen;
}

h1 {
  text-align: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main > * {
  margin: 1rem 2rem;
}

canvas {
  outline: 1px solid black;
  margin-inline: auto;
  margin-bottom: 2rem;
  border-radius: 5px;
}

input {
  border-radius: 5px;
  background: transparent;
  border: 3px solid var(--color-accent);
  padding: 0.5rem;
  font-size: 1rem;
}

label,
input[type="button"] {
  margin: 0.5rem;
}
input[type="number"] {
  margin-left: : 0.5rem;
}
input[type="button"] {
  transition: color 0.2s, background-color 0.2s;
}

input[type="button"]:focus,
input[type="button"]:hover {
  cursor: pointer;
  background-color: var(--color-accent);
  color: white;
}

table {
  border-collapse: separate;
  border-spacing: 0.5rem;
  border-radius: 5px;
  border: 2px solid grey;
}
tr {
  padding: 0.5rem 1rem;
}
td {
  padding: 0.25rem 1rem;
}
td.true {
  color: green;
}
td.false {
  color: red;
}
tr td:last-child {
  text-align: right;
}